<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <SocketStream/>

    <title>Welcome</title>
  </head>

<h1> The Global Twitter Play Ground</h1>
<form name="searchForm">
  <label for="fldWord">Where are People Tweeting The Word</label>
    <input type="text" name="fldWord"><br>
  <input type="submit" value="Submit">
</form>


<canvas id='rotatingGlobe' width='700' height='700'
  style='width: 700px; height: 700px; cursor: move;'></canvas>
 <button type="button" id="topStream">Stop Stream</button>

